            <div class="container-fluid" ng-controller="AppCtrl">
                <div style="background-color: #rrr;">
                    <div class="oneui-animation ng-scope">
                        <div class="row">
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>

                         <div class ="row">
                                <div class="col-md-12">
                                    <div style="background-color: #fff; color: #rrr;">
                                    <!--div style="color: #fff;"-->
                                    <!--button type="button" class="close" ng-click="cancel()">&times;</button-->
                                    
                                    <header class="panel-info"><h4 class="panel-heading text-center">Confirmation</h4></header>
                                    
                                    </div>
                                </div>

                         </div>    



                        <div class="row">
                            <div class="col-md-11" id="alternate">
                                <label class="form-label" >
                                &nbsp;
                                Checked Item moved to Done.
                                </label>
                            </div>
                            <div class="col-md-2">
                                <!--input id="disabledInput" type="text" disabled class="form-control col-md-2" ng-model="contact.name"-->
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-info" ng-class="currentState" ng-click="save()"><span>Confirm</span><i style="margin-left:12px;"class="glyphicon glyphicon-ok"></i></button>

                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-warning" ng-class="currentState" ng-click="cancel()"><span>Cancel</span><i style="margin-left:12px;"class="glyphicon glyphicon-remove"></i></button>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
