  <div  class="container-fluid">
      <div class="col-xs-6">
        <div class="row">
            <form style="width: 100%"  class="form-horizontal" name="myForm.$state">
                <div fg-edit
                     fg-schema="myForm.schema">
                </div>
              </form>
        </div>
      </div>

      <div class="col-xs-5 col-xs-offset-1">
        <form style="width: 100%" novalidate class="form-horizontal" name="previewForm" ng-init="myForm.$data = {}">

          <fieldset>

            <legend>
              <div class="row">
                <div class="col-sm-3">Preview Form</div>
              </div>
            </legend>

            <!-- Magic starts here -->

            <div fg-form
                 fg-form-data="myForm.$data"
                 fg-schema="myForm.schema">
            </div>

            <!-- Magic ends here -->

          </fieldset>

          <div class="form-group">
              <label class="control-label col-sm-3">Form status (form is valid or not )</label>

              <div class="col-sm-9">
                <div class="form-control-static">
                  <span ng-if="previewForm.$invalid" class="text-danger">Invalid <span class="glyphicon glyphicon-thumbs-down"></span></span>
                  <span ng-if="previewForm.$valid" class="text-success">Valid <span class="glyphicon glyphicon-thumbs-up"></span></span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">Form data</label>

              <div class="col-sm-9">
                <div jsonify="myForm.$data"></div>
              </div>
            </div>

        </form>
      </div>
  </div>