<div class="container-fluid" ng-controller="AdminRolesCtrl">
    <div style="background-color: #rrr;">
        <div class="oneui-animation ng-scope">
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
            <div class ="row">
                <div class="col-md-12">
                    <div style="background-color: #fff; color: #rrr;">
                        <!--div style="color: #fff;"-->
                        <!--button type="button" class="close" ng-click="cancel()">&times;</button-->
                        
                    <header class="panel-danger"><h4 class="panel-heading text-center">REMOVE ROLE</h4></header>
                    
                </div>
            </div>
        </div>
        <div class ="row">
            <form class="form-horizontal" style="width: 80%">
                <div  class="form-group">
                    <label class="col-sm-4 control-label" for="fname"><h4>Role name</h4></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="fname" placeholder="Role Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="lname"><h4>Description</h4></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="lname" placeholder="Description">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="col-sm-12" style="width: 100%; margin-left:170px;">
                        <header class="panel-info">
                            <h3 class="text-center">ROLES</h3>
                        </header>
                    </div>
                
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="add"></label>
                    <div class="col-sm-8" style="height: 235px; overflow: auto;">
                        <table class="table table-bordered" >
                            <!--table-hover table-striped st-table="rowCollection" -->
                            <thead>
                                <tr>
                                    <th>
                                        <input id="selectAll" type="checkbox" ng-model="allItemsSelected" ng-change="selectAll(adminRoleRecords, allItemsSelected)">
                                        <label for="selectAll"><h4>SelectAll</h4></label>
                                    </th>
                                    <th>
                                        <label><h4>Roles</h4></label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="rolesInfo in adminRoleRecords" ng-class="{'selected':rolesInfo.isChecked}">
                                    <td>
                                        <input id={{$index}} type="checkbox" ng-model="rolesInfo.isChecked">
                                        <label for={{$index}}><span></span></label>
                                    </td>
                                    <td>{{rolesInfo.role_name}}</td>
                                </tr>
                                <tr ng-repeat-end>
                                    <td colspan="10" ng-show="rolesInfo.showdtl">
                                        Details of row :{{$index}}
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-info" ng-class="currentState" ng-click="saveRole()"><span>Save</span><i style="margin-left:12px;"class="glyphicon glyphicon-ok"></i></button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-warning" ng-class="currentState" ng-click="cancel()"><span>Cancel</span><i style="margin-left:12px;"class="glyphicon glyphicon-remove"></i></button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>